<div class="divider-new">
    <h2 class="h2-responsive">
        <%= t('.title') %> <strong> <span class="text-muted"></span></strong>
    </h2>
</div>

<%= render 'form', railway_station: @railway_station %>

<br />

<%= link_to t('shared.back'), admin_railway_stations_path, class: "text-danger" %> |
<%= link_to t('shared.show'), admin_railway_station_path(@railway_station), class: "text-danger" %> 
