<h1><%= t('.title') %></h1>

<%= render 'form', railway_station: @railway_station %>

<%= link_to t('shared.show'), admin_railway_station_path(@railway_station) %> |
<%= link_to t('shared.back'), admin_railway_stations_path %>