<div class="divider-new">
    <h2 class="h2-responsive">
        <%= t('.title') %> <strong> <span class="text-muted"></span></strong>
    </h2>
</div>

<%= render 'form' %>

<br>

<%= link_to t('shared.back'), admin_routes_path, class: "text-danger" %> |
<%= link_to t('shared.show'), admin_route_path(@route), class: "text-danger" %> 
