<td class="">
  <%= link_to(links[:show], data: {toggle: 'tooltip', title: t('common.show')}) do %>
      <i class="fa fa-eye"></i>
  <% end %>
  <%= link_to(links[:edit], data: {toggle: 'tooltip', title: t('common.edit')}) do %>
      <span class="green-text"><i class="fa fa-pencil"></i></span>
  <% end %>
  <%= link_to(links[:delete], method: :delete, data: {toggle: 'tooltip', title: t('common.destroy'), confirm: t('common.confirm')}) do %>
      <span class="red-text"><i class="fa fa-times"></i></span>
  <% end %>
</td> 