<ul>
  <li>Bottom: <%= carriage.bottom_seats  %></li>
  <li>Top: <%= carriage.top_seats  %></li>
  <li>Side bottom:  <%= carriage.side_bottom_seats  %></li>
  <li>Side top: <%= carriage.side_top_seats  %></li>
</ul>