<p id="notice"><%= notice %></p>

<h4>Carriages</h4>

<table class="table text-center table-hover">
  <thead class="table-inverse text-center">
  <tr>
    <th class="text-center">Train</th>
    <th class="text-center">Type</th>
    <th class="text-center">Number</th>
    <th colspan="3" class="text-center">Actions</th>
  </tr>
  </thead>

  <tbody>
  <% @carriages.ordered_by_train.each do |carriage| %>
    <%= render 'carriage', carriage: carriage %>
  <% end %>
  </tbody>
</table>

<br/>

<%= link_to 'New Carriage', new_carriage_path %><br/>

<%= link_to 'Back', root_path %>