<h1>Tickets</h1>

<table class="table text-center table-hover">
  <thead class="table-inverse text-center">
  <tr>
    <th class="text-center">Ticket:</th>
    <th class="text-center">Train:</th>
    <th class="text-center">Route:</th>
    <th class="text-center">Departing:</th>
    <th class="text-center">Destination:</th>
    <th class="text-center">Customer:</th>
    <th class="text-center">Actions</th>
  </tr>
  </thead>

  <tbody>
    <%= render @tickets %>
  </tbody>
</table>
