<h4><%= t('.title') %></h4>

<%= render 'form', carriage: @carriage %>

<%= link_to t('shared.show'), admin_carriage_path(@carriage) %> |
<%= link_to t('shared.back'), admin_train_carriages_path(@carriage.train) %>