<h1>Listing Trains</h1>

<table class="table text-center table-hover">
  <thead class="table-inverse text-center">
    <tr>
      <th class="text-center">Number</th>
      <th class="text-center">Route</th>
      <th class="text-center">Current station</th>
      <th class="text-center" colspan="3">Actions</th>
    </tr>
  </thead>

  <tbody>
    <%= render @trains %>
  </tbody>
</table>

<br>

<%= link_to 'New Train', new_admin_train_path %> |
<%= link_to 'Back', root_path %>
